.contorno-form {
    margin: 0px 30px 0px 30px;
    padding: 0px 50px 0px 50px;
    background-color: rgb(219, 245, 201);
}
h1 {
    text-align: center;

}
.title-form {
    text-align: center;;
}